.button {
  width: 103px;
  height: 32px;
  background-color: #98CA02;
  color: #fff;
  padding: 7px 14px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  position: absolute;
  bottom: 16px;
  right: 24px;
  cursor: pointer;
}